/**
 * @param {string} quizType
 * @param {Array} tags
 * @param {string} question
 * @param {Array} options
 * @param {Array} answers
 */
export const data = [
  { quizType: "React", tags: [ "state" ], question: "Which of the following is a way to handle data in React?", options: [ "State & Props", "Services & Components", "State & Services", "State & Component" ], answers: [ "State & Props" ] }
]
